#logo {
    width: 175px;

}

body {
    font-family: 'Source Code Pro', monospace;
}

#profile-photo {
    width: 53px;
    height: 47px;
}

#bg-navbarcolor {
    background-color: rgba(68, 186, 230, 1) !important;
}

#color-bar {
    color: white !important;
}

#btn-menu {
    display: none;
}

#barras {
    width: 75px;
}

.container .btn-menu label {
    color: #fff;
    font-size: 37px;
    cursor: pointer;
}


.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

#btn-home {
    position: initial;
    display: block;
    font-size: large;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu {
    width: 100%;
    max-width: 70%;
    background: rgba(68, 186, 230, 1);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    font-size: large;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid rgb(187, 95, 12, 1);
    background: rgba(68, 186, 230, 1);
}

.cont-menu label {
    position: absolute;
    right: 206px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 38px;
}

#inicarss {
    padding-bottom: 0;
    padding-top: 0%;
    font-size: 26px;
}

.position-img {
    position: absolute;
    left: 10px;
    bottom: 163px;
}

.contenedor-1 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
    font-size: xx-small;
    font-weight: bold;
}

.contenedor-2 {
    margin-top: 25px;
}

.contenedor-2 i {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}


/*Estilos de titulos*/
#titulos {
    color: #E5761B;
    text-align: center;
    margin: 20px;

}

#titulos h2 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
}

#titulos h5 {
    font-weight:bolder;
    margin-bottom: 15px;
    font-size: 20px;
}

#titulos h3 {
    font-weight:bolder;
    margin-bottom: 15px;
    font-size: 30px;
    
}

.busqueda-input {
    background-color: rgba(68, 186, 230, 0.6);
    height: 40px;
    color: rgba(229, 118, 27, 1);
    width: 100%;
    text-align: center;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    
}



::placeholder{
    color: rgba(229, 118, 27, 1);
}

#contenedor-input {
    margin-bottom: 30px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

}

#lupa {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    background-color: rgba(68, 186, 230, 0.6);
    width: 50px;
    height: 40px;
    border-bottom-right-radius: 50rem;
    border-top-right-radius: 50rem;
    border-width: 2px !important;
}


#titulo-cate {
    background-color: rgba(68, 186, 230, 0.6);

}

/*ESTILOS DE LA CARTA DE LA CATEGORIA*/
#icono-categoria {
    width: 70px !important;
    margin-top: 15px;
}

#Carta-categoria:hover {
    background-color:rgba(68, 186, 230, 1);
    cursor: pointer;
}

#Carta-categoria{
    margin: 10px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
    background-color: rgba(196, 196, 196, 1);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 115px;
}

#Carta-categoria p {
    color: white;
    font-weight: bold;
    font-size: small;
}

.grupo-Categorias {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around !important;
	align-items: flex-start;
	align-content: stretch;
    
}

@media (max-width: 400px) {
    #icono-categoria {
        width: 98% !important;
        margin-top: 18px;
    }
}

@media (min-width:500px) {
    #contenido-producto h2{
        font-size: 29px !important;
    }
    #contenido-producto h5{
        font-size: 26px !important;
    }
    #contenido-producto p{
        font-size: 21px !important;
    }
}

/*Estilos para la seccion Mas populares*/
#contenedor-populares {
    color: #E5761B;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    margin-left: 15px;
    margin-right: 15px;
    

}

#icono-producto {
    width: 70px !important;;
}

#contenido-producto {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    box-shadow: 0px 0px 10px #E5761B !important;
    border-radius: 13px;
}

#contenido-producto h2,h5,p {
    margin: 0;
}

#contenido-producto h2{
    font-size: 20px;
}
#contenido-producto h5{
    font-size: 15px;
}
#contenido-producto p{
    font-size: 15px;
}


